:root {
  --primary: #ffd700;
  --primary-opaque: rgba(255, 215, 0, 0.3);
  --primary-backup: #fff648;
  --secondary: #fefe49;
  --dots: #ffd700;
  /* --dots: #ffcb00; */
  /* --dots: #fefe49; */

  /* --primary: #fefe49;
  --primary-backup: #fff648;
  --secondary: #fffa9d; */
  --success: #bcff9d;
  --failure: #fcc5c5;
  --secondary-opaque: rgba(255, 250, 157, 0.9);
  /* --dark: #0c0029; */
  /* --dark: rgb(0, 19, 1); */
  /* --dark: rgb(0, 37, 37); */
  /* --dark: rgb(0, 32, 14); */
  --dark: #0c1a18;
  /* --dark: rgb(11, 34, 25); */
  /* --dark-opaque: rgba(0, 37, 37, 0.8); */
  /* --dark-opaque: rgba(0, 32, 14, 0.8); */
  --dark-opaque: rgba(12, 26, 24, 0.75);
  /* --dark-opaque: rgba(11, 34, 25, 0.8); */
  /* --dark-opaque: rgba(0, 19, 1, 0.8); */
  /* --dark-opaque: rgba(12, 0, 41, 0.8); */
  --dark-opaque-lighter: rgba(30, 49, 34, 0.7);
  --light-text: rgb(238, 238, 238);
  --light-grey: rgb(207, 207, 207);
  --xs: 599px;
  --sm: 1023px;
  --md: 1439px;
  --lg: 1919px;
  --xl: 1920px;
  --tablet: 768px;
  --desktop: 1024px;
  --header-height: 105px;
  --header-height-lg: 105px;
  --margin-lr: clamp(10px, 3.5vw, 25px);
  --padding-lr-sm: clamp(10px, 2.75vw, 30px);
  --padding-lr: clamp(1rem, 3vw, 25px);
  --text-base: clamp(1rem, 3vw, 1.5rem);
  --text-xs: clamp(0.6rem, 1.75vw, 0.9rem);
  --text-sm: clamp(0.8rem, 2vw, 1.1rem);
  --text-md: clamp(0.8rem, 2.75vw, 1.3rem);
  --text-lg: clamp(0.9rem, 4.5vw, 2.5rem);
  --text-h1: clamp(1.3rem, 7.5vw, 4.5rem);
  --text-h2: clamp(1.1rem, 6.5vw, 2.75rem);
  --text-sm-tb: clamp(0.5rem, 1.2vw, 1rem);
  --text-md-tb: clamp(0.9rem, 1.3vw, 1.75rem);
  --text-h1-tb: clamp(1.3rem, 6.5vw, 3.5rem);
  --text-h2-tb: clamp(0.9rem, 4.25vw, 3rem);
  --text-h3-tb: clamp(0.9rem, 3.75vw, 2.25rem);
  --text-nav: clamp(0.9rem, 6vw, 4.5rem);

  --margin-lr-lg: clamp(20px, 4vw, 40px);
  --padding-lr-lg: clamp(25px, 4vw, 50px);
}
