@import 'base.css';

/* Additional Reset / Base Styles */

body {
  background-color: var(--dark);
  color: var(--light-text);
  font-family: 'Atkinson Hyperlegible', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5rem 0;
}

a {
  color: var(--primary);
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

p {
  font-size: 0.9rem;
}

/* LAYOUT */

/* Centers it, sets a maximum width and makes sure elements can flow past it*/

.container {
  margin: 0 auto;
  max-width: 1200px;
  overflow: visible;
  /* padding: 0 20px; */
}

.grid {
  overflow: visible;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(100px, auto);
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.centre-items {
  justify-content: center;
  align-content: center;
}

.space-between {
  justify-content: space-between;
}

/* HEADER & NAV */

header {
  z-index: 999;
  /* padding: 10px; */
  /* height: var(--header-height); */
  /* margin-bottom: 300px; */
  /* padding: 0 20px; */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  /* width: 100%; */
  background: var(--dark-opaque);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-bottom: 1px solid rgba(247, 248, 248, 0.1);
  padding: 0 20px;
  /* width: 100%; */
}

header a {
  text-decoration: none;
  color: var(--light-text);
  transition: color 1s ease-out;
}

header menu a:hover {
  color: var(--primary);
}

header a:visited {
  color: var(--light-text);
}

.header-content {
  height: var(--header-height);
}

.brand {
  height: 100%;
  z-index: 50;
}

.brand a {
  display: flex;
  align-content: flex-start;
  align-items: center;
}
.brand .logo {
  font-size: 1.6rem;
  font-weight: bold;
  text-shadow: 3px 1px 5px var(--dark);
  z-index: 49;
  margin: 0;
}

.brand img {
  /* margin-top: -32px;
  margin-left: -30px; */
  z-index: 48;
  height: 100%;

  margin-left: -22px;
  margin-top: 4px;
}

/* NAV */

nav {
  position: fixed;
  overflow: hidden;
  z-index: 40;
  background-color: transparent;
  height: 0;
  transition: height 400ms ease-in-out;
  margin-left: -20px;
}

nav menu {
  width: 100vw;
  padding: var(--header-height) 0 0;
  margin: 0;
  height: 0;
  background: var(--dark-opaque);
  transition: height 400ms ease-in-out, background-color 500ms ease-out;
}

nav menu li {
  display: block;
  padding: 20px 20px 20px 30px;
}

/* BURGER ICON */

.burger {
  cursor: pointer;
  padding: 33px 0 0;
  z-index: 50;
} /* Style label tag */

.burger-line {
  background: var(--light-text);
  display: block;
  height: 2px;
  position: relative;
  width: 24px;
} /* Style span tag */

.burger-line::before,
.burger-line::after {
  background: var(--light-text);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}
.burger-line::before {
  top: 5px;
}
.burger-line::after {
  top: -5px;
}

.side-menu {
  display: none;
} /* Hide checkbox */

/* Toggle menu icon */
.side-menu:checked ~ nav {
  height: 100vh;
}

.side-menu:checked ~ nav menu {
  height: 100vh;
  background: var(--dark);
}
/* .side-menu:checked ~ nav menu {
  background: var(--dark);
} */
.side-menu:checked ~ .burger .burger-line {
  background: transparent;
}
.side-menu:checked ~ .burger .burger-line::before {
  transform: rotate(-45deg);
  top: 0;
}
.side-menu:checked ~ .burger .burger-line::after {
  transform: rotate(45deg);
  top: 0;
}

/* MAIN */

main {
  margin-top: var(--header-height);
  display: grid;
  padding: 0 20px;
}

main section {
  /* margin: 4em 0em; */
  text-align: center;
  /* margin-left: -20px; */
  /* margin-right: -20px; */
  /* padding: 2em 0;*/
  background-color: var(--dark-opaque);

  padding: 1.2rem;
  margin: 0.5rem 0;
  border: 1px solid var(--secondary);
  border-radius: 20px;
  text-align: left;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  /* width: 100vw; */
  /* grid-column: 1 / 12; */
}

main section i {
  color: var(--secondary);
}

main section li {
  margin-bottom: 0.5rem;
  /* margin-top: -0.5rem; */
  padding-left: 1.5rem;
  text-indent: -0.75rem;
  /* position: relative; */
}

main section.services li::before {
  content: '✅ ';
}

main section.values li::before {
  content: '❌ ';
}
main section li::before {
  margin-top: 4px;
  font-size: 0.8rem;
  position: absolute;
}

main section li span {
  margin-left: 0.75rem;
}

main section.hero {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-top: calc(var(--header-height) + 1em);
  background-color: var(--dark);
}

.hero h1 {
  z-index: 500;
  font-size: 8vw;
  text-transform: uppercase;
  /* padding: 0 4em; */
  /* border-radius: 20px; */
  /* background: rgba(255, 255, 255, 0.1); */
  /* background: var(--dark); */
  /* backdrop-filter: blur(8px); */
  /* width: 70vw; */
  text-shadow: 3px 1px 5px var(--dark);
  /* padding: 1em; */
  /* border: 2px solid var(--primary); */
  margin: 0;

  /* padding-top: 100px 0; */
}

li.card h3 {
  font-weight: normal;
}

.speckle-bg {
  fill: var(--primary);
  min-width: 100%;
  min-height: 100%;
  /* height: 100%;
  width: 100%; */
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  /* filter: invert(100%) sepia(80%) saturate(20) hue-rotate(-330deg)
    brightness(300%) contrast(90%);
  --webkit-filter: invert(100%) sepia(80%) saturate(20) hue-rotate(-330deg)
    brightness(300%) contrast(90%); */
  object-fit: cover;
  opacity: 0.8;
}

/* CONTACT FORM */

main section.contact {
  /* margin: 2em auto; */

  align-content: center;
  justify-content: center;
  align-items: center;
  background: var(--dark);
}

.contact form input,
.contact form textarea {
  margin-bottom: 1rem;
}

.contact-info {
  display: none;
}
