@import 'base.css';

html:has(.side-menu:checked),
body:has(.side-menu:checked) {
  overflow: hidden;
  touch-action: none;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  background-color: var(--dark);
  color: var(--light-text);
  font-family: 'Atkinson Hyperlegible', sans-serif;
  font-size: var(--text-base);
  height: 100%;
}

body.scrolled {
  background-color: var(--primary);
}

.bg {
  width: 200vw;
  min-width: 100vw;
  min-height: 100vh;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: -100;
  z-index: -1;
  object-fit: cover;
  opacity: 0.75;
}

.light-text {
  color: var(--text-light);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5rem 0;
  text-transform: uppercase;
  color: var(--light-text);
}

h1::after,
h2::after,
h3::after,
h4::after,
header nav li a::after,
footer nav li a::after,
span.tag-line::after {
  content: '.';
  color: var(--primary);
  margin-left: 0.1em;
}

h1 {
  font-size: var(--text-h1);
}

h2 {
  font-size: var(--text-h2);
  margin-top: 0;
}

h2:not(:first-child) {
  margin-top: 2rem;
}

h3 {
  font-size: var(--text-lg);
}

hr {
  margin: 2rem 0;
}

table {
  border-collapse: collapse;
}

.tr-border {
  border-top: 1px solid var(--light-grey);
}

table td {
  vertical-align: top;
  padding: 1rem 1rem 1rem 0;
}

a {
  color: var(--light-text);
  transition: color 1s ease-out;
}

a:visited {
  color: var(--light-text);
}

header a {
  background-color: transparent;
}

ul,
ol {
  padding: 0;
}

ol {
  color: var(--light-text);
  list-style: none;
  counter-reset: item;
}

li {
  font-size: var(--text-base);
  margin-bottom: 0.25rem;
  margin-left: var(--text-base);
  color: var(--light-text);
  line-height: 1.35em;
  list-style-type: none;
}

ol li {
  counter-increment: item;
  margin-bottom: 5px;
  margin-left: 0;
}
ol li:before {
  margin-right: 10px;
  content: counter(item) '.';
  /* background: lightblue; */
  border-radius: 100%;
  color: var(--primary);
  width: 1em;
  text-align: center;
  display: inline-block;
}

main ul li::before {
  font-size: var(--text-base);
  content: '\2022';
  color: var(--primary);
  font-weight: bold;
  display: inline-block;
  width: var(--text-base);
  margin-left: calc(var(--text-base) * -1);
}

/* LAYOUT */

.container {
  margin: 0 auto;
  max-width: 1200px;
  overflow: visible;
}

.grid {
  overflow: visible;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(100px, auto);
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

/* HEADER & NAV */

header {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: var(--dark);
  margin-bottom: calc(var(--header-height) + 3rem);
  border-bottom: solid 1px hsl(152, 32%, 16%);
  padding: 0 var(--margin-lr);
}

.header-content {
  height: var(--header-height);
}

header .top-row {
  justify-content: space-between;
}

span.tag-line {
  font-size: clamp(0.46rem, 2.5vw, 0.8rem);
  color: var(--light-grey);
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  margin-top: 90px;
  position: absolute;
  z-index: 60;
}

/* NAV */

header nav {
  position: fixed;
  overflow: hidden;
  z-index: 40;
  background-color: transparent;
  height: 0;
  transition: height 600ms ease-in-out;
  margin-left: calc(var(--margin-lr) * -1);
}

header nav hr {
  display: none;
  background-color: transparent;
  height: 1px;
  border: none;
  margin: calc(var(--header-height) + 0px) 0 0;
  padding: 0;
}

header nav menu {
  width: 100vw;
  padding: calc(var(--header-height) / 5) 0 0;
  margin: 0;
  height: 0;
  background: var(--dark-opaque);
  transition: height 600ms ease-in-out, background-color 400ms ease-out, margin 600ms ease-in-out;
}

header nav menu li {
  display: block;
  padding: 15px 15px 15px 20px;
  margin-left: var(--padding-lr-sm);
  font-size: var(--text-nav);
}

nav a,
.brand a {
  text-decoration: none;
  color: var(--light-text);
  transition: color 1s ease-out;
}

a:hover,
nav menu a:hover,
.brand a:hover {
  color: var(--primary);
}

nav a:visited,
.brand a:visited {
  color: var(--light-text);
}

.brand {
  height: 100%;
  z-index: 50;
}

.brand a {
  display: flex;
  align-content: flex-start;
  align-items: center;
}
.brand .logo {
  font-size: 1.8rem;
  font-weight: bold;
  text-shadow: 3px 1px 5px var(--dark);
  z-index: 49;
  margin: -12px 0 0;
}

.brand img {
  z-index: 48;
  margin-left: -32px;
}

/* BURGER ICON */

.burger {
  cursor: pointer;
  padding: 40px 5px 0 0;
  z-index: 1050;
} /* Style label tag */

.burger-line {
  background: var(--light-text);
  display: block;
  height: 2px;
  position: relative;
  width: 24px;
} /* Style span tag */

.burger-line::before,
.burger-line::after {
  background: var(--light-text);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}
.burger-line::before {
  top: 5px;
}
.burger-line::after {
  top: -5px;
}

.side-menu {
  display: none;
} /* Hide checkbox */

/* Toggle menu icon */
.side-menu:checked ~ nav {
  height: 100%;
}

.side-menu:checked ~ nav menu {
  height: 100%;
  background: var(--dark);
  z-index: 1100;
  padding-top: 20px;
}
.side-menu:checked ~ nav hr {
  display: block;
}

.side-menu:checked ~ .burger .burger-line {
  background: transparent;
}
.side-menu:checked ~ .burger .burger-line::before {
  transform: rotate(-45deg);
  top: 0;
}
.side-menu:checked ~ .burger .burger-line::after {
  transform: rotate(45deg);
  top: 0;
}

/* MAIN */

main {
  padding: 0 var(--margin-lr);
}

section {
  border: solid 1px hsl(152, 32%, 16%);
  box-shadow: rgb(66 148 110 / 15%) 0px 4px 24px;
  border-radius: 0.75rem;
  text-align: left;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background-color: var(--dark-opaque);
}

section.hero {
  margin: calc(var(--header-height) + 1rem) 0 1.5rem;
  box-shadow: rgba(144, 148, 66, 0.15) 0px 4px 24px;
  background-color: var(--dark);
  padding: 2.25rem var(--padding-lr);
  border-color: var(--primary-opaque);
}

.hero h1 {
  font-size: clamp(1.7rem, 8vw, 3.25rem);
  margin: 0;
}

section:not(.hero) {
  padding: 1.6rem var(--padding-lr);
  margin: 1rem 0;
}

section:first-of-type {
  margin-top: calc(var(--header-height) + 1rem);
}

main section i {
  color: var(--primary);
}

.privacy section {
  background-color: var(--dark);
}

.services-container {
  display: flex;
  flex-direction: column;
}

.services-container li {
  line-height: 1.35em;
}

.values hr {
  margin: 1.5rem 0 0.5rem;
}

.who h2:last-of-type {
  margin-top: 0;
}

.who ul.projects {
  flex-wrap: wrap;
}

#headshot {
  margin-left: 10px;
  float: right;
}

#headshot img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: solid 1px hsl(152, 32%, 16%);
  box-shadow: rgb(66 148 110 / 15%) 0px 4px 24px;
}

div.experience {
  display: grid;
  margin: 2rem 0 0;
  grid-template-columns: repeat(auto-fit, 40vw);
  justify-content: space-between;
}

div.experience div h3 {
  margin-top: 0;
  margin-bottom: 0.5em;
}
div.experience ul {
  margin-bottom: 2.5rem;
  margin-top: 0;
}
div.experience div:last-child ul {
  margin-bottom: 0;
}

div.experience ul li {
  font-size: var(--text-sm);
  line-height: 1.2em;
  margin-left: var(--text-xs);
}

div.experience ul li::before {
  font-size: var(--text-xs);
  width: var(--text-xs); /* Also needed for space (tweak if needed) */
  margin-left: calc(var(--text-xs) * -1); /* Also needed for space (tweak if needed) */
}

/* CONTACT FORM */

#contact-placeholder {
  scroll-margin-top: calc(var(--header-height) + 3rem);
}

#contact-email:focus:required:invalid + label.form-error,
#contact-message:focus:required:invalid + label.form-error {
  display: block;
}

/* #contact-form.success > *:not(.contact-status-message):not(h1),
#contact-form.failure > *:not(.contact-status-message):not(h1) {
  display: none;
} */

#contact-form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
}

/* #contact-form .form-inputs {
  display: flex;
  flex-direction: column;
} */

/* #contact-form .contact-status-message {
  transition: visibility 0s, opacity 0.5s linear;
  visibility: hidden;
  opacity: 0; */
/* margin: auto auto; */
/* position: absolute;
  width: 100%;
  height: 100%; */
/* top: 0;
  bottom: 0;
  left: 0;
  right: 0; */
/* background-color: var(--dark);
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */
/* 
#contact-form.success .contact-status-message,
#contact-form.failure .contact-status-message {
  visibility: visible;
  opacity: 1;
} */

/* #contact-form.success {
  border-color: green;
}

#contact-form.failure {
  border-color: red;
} */

#contact-form label p {
  margin-top: 0.5em;
}

/* .contact {
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
} */

form.contact {
  margin-top: 1rem;
}

#form-sending {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  position: fixed;
  width: calc(100% - (var(--padding-lr)));
  margin-left: calc(var(--padding-lr) * -2);
  /* height: 100%; */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* width: 100%;
  height: 100%; */
  box-shadow: rgba(142, 148, 66, 0.15) 0px 4px 24px;
  border-radius: 0.75rem;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  background-color: var(--dark-opaque);
  z-index: 100;
  border: 1px solid rgba(142, 148, 66, 0.846);
}

#contact-form.loading #form-sending {
  visibility: visible;
  opacity: 1;
}

/* #contact-form.loading .form-inputs,
#contact-form.success .form-inputs,
#contact-form.failure .form-inputs {
  display: none;
} */
/* 
#contact-form.success #form-sending {
  box-shadow: rgba(80, 148, 66, 0.15) 0px 4px 24px;
  border: 1px solid rgba(80, 148, 66, 0.846);
}

#contact-form.failure #form-sending {
  box-shadow: rgba(148, 66, 66, 0.15) 0px 4px 24px;
  border: 1px solid rgba(148, 66, 66, 0.846);
} */

#contact-form div.sending,
#contact-form div.sending:before,
#contact-form div.sending span,
#contact-form div.sending span:before {
  display: none;
}

#contact-form.loading div.sending,
#contact-form.loading div.sending:before,
#contact-form.loading div.sending span,
#contact-form.loading div.sending span:before {
  display: block;
}

#contact-form div.sending {
  font-family: 'Atkinson Hyperlegible', sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  background: var(--dark-opaque);
  border: 3px solid #3c3c3c;
  border-radius: 50%;
  text-align: center;
  line-height: 150px;
  font-size: 20px;
  color: var(--primary);
  letter-spacing: 4px;
  text-transform: uppercase;
  text-shadow: 0 0 10px var(--primary);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

#contact-form div.sending:before {
  content: '';
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;
  border: 3px solid transparent;
  border-top: 3px solid var(--primary);
  border-right: 3px solid var(--primary);
  border-radius: 50%;
  animation: animateC 3s linear infinite;
}
#contact-form div.sending span {
  position: absolute;
  top: calc(50% - 2px);
  left: 50%;
  width: 50%;
  height: 4px;
  background: transparent;
  transform-origin: left;
  animation: animate 3s linear infinite;
}
#contact-form div.sending span:before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: var(--primary);
  top: -6px;
  right: -8px;
  box-shadow: 0 0 20px var(--primary);
}
@keyframes animateC {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}

.form-error {
  display: none;
  margin-bottom: 1rem;
  font-size: smaller;
  margin-top: -0.5rem;
}

/* #contact-form .contact-form-message p {
  font-size: 2rem;
} */

#contact-form input:not(#gdpr),
#contact-form textarea {
  margin-top: 0.25rem;
  margin-bottom: 1rem;
  border-radius: 4px;
}

div.consent {
  margin: 1.5rem 0;
  align-items: flex-start;
}
div.consent label {
  margin-left: 0.25rem;
}

div.consent input[type='checkbox'] {
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform: scale(2);
  margin: 0.3em 0.75em 0 0.3em;
}

#contact-form textarea {
  min-height: 100px;
}

#contact-form button {
  background-color: var(--primary);
  color: var(--dark);
  padding: 1rem;
  border-radius: 10px;
}

#contact-form button:disabled {
  background-color: var(--light-grey);
  pointer-events: none;
}

.contact-info {
  display: none;
}

/* FOOTER */

footer {
  border-top: 1px solid var(--light-text);
  padding: 1.5rem var(--padding-lr);
  background-color: var(--dark-opaque);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  font-size: var(--text-sm);
}

footer hr {
  display: block;
  background-color: transparent;
  border-bottom: 1px solid var(--light-grey);
  margin: 0 0 0.5rem;
}

footer-content {
  justify-content: center;
}

footer nav {
  margin-top: 1em;
}

footer nav menu {
  display: flex;
  flex-direction: column;
  padding: 0;
  justify-content: space-between;
  align-items: stretch;
  height: 100%;
  margin: 0;
}

footer nav menu li {
  padding: 0;
  margin: 0;
}

footer ul {
  margin-bottom: 0;
}

footer li {
  font-size: var(--text-sm);
  padding-bottom: 0.5rem;
  margin-left: 0;
}

footer .company-details {
  font-size: 0.6rem;
}

div.links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

footer nav ul li:last-of-type {
  margin-bottom: 0;
  padding-bottom: 0;
}

div.p-c {
  justify-content: center;
  margin: 1rem 0 0.5rem;
  gap: 10px;
}

#copyright {
  margin-bottom: 0.5rem;
  font-size: var(--text-sm);
  display: flex;
  justify-content: center;
  text-align: center;
}
