@import 'base.css';

/* LANDSCAPE PHONE */

@media only screen and (min-width: 480px) and (max-width: 767px) {
  header {
    position: relative;
    margin-bottom: 0;
  }

  span.tag-line {
    margin-top: 85px;
  }

  main section:first-of-type,
  main section.hero {
    margin-top: 1rem;
  }

  header nav menu li {
    font-size: var(--text-lg);
  }

  .side-menu:checked ~ nav {
    z-index: 999;
  }

  .side-menu:checked ~ nav menu {
    padding-top: 15px;
    position: fixed;
    top: 0;
    left: 0;
  }
}

/* TABLET & ABOVE */

@media (min-width: 768px) {
  .mobile-only {
    display: none;
  }

  body,
  li {
    font-size: var(--text-md);
  }

  h1 {
    font-size: var(--text-h1-tb);
    margin-bottom: 1.5rem;
  }

  h2 {
    font-size: var(--text-h2-tb);
  }

  h2:not(:first-child) {
    margin-top: 2.5rem;
  }

  h3 {
    font-size: var(--text-h3-tb);
    margin-top: 2rem;
  }

  /* HEADER & NAV */

  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 var(--margin-lr-lg);
  }

  .header-content {
    height: var(--header-height);
  }

  span.tag-line {
    font-size: 1rem;
    margin-top: 85px;
  }

  header .brand {
    margin: 0;
  }

  .brand img {
    margin-left: -30px;
    margin-top: 2px;
  }

  header nav {
    display: flex;
    position: relative;
    padding: 0;
    margin: 0;
    height: var(--header-height);
    flex-grow: 1;
    margin-left: calc(var(--margin-lr-lg) * -1);
  }
  header nav menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-width: 30vw;
    height: 100%;
    background-color: transparent;
    padding: 0;
    margin-top: -5px;
  }

  header nav menu li {
    display: inline;
    padding: 0;
    font-size: clamp(0.8rem, 2vw, 1.2rem);
  }

  .side-menu,
  .burger {
    display: none;
  }

  /* MAIN */

  main {
    padding: 0 var(--margin-lr-lg);
  }

  section:not(.hero) {
    padding: 3.5rem var(--padding-lr-lg);
  }
  section:not(:first-of-type) {
    margin-top: 4rem;
  }

  section:first-of-type {
    margin-top: calc(var(--header-height) + 1.5rem);
  }

  section.hero {
    padding: 7rem var(--padding-lr-lg);
  }

  .hero h1 {
    font-size: clamp(1.8rem, 8.5vw, 7rem);
  }

  .home #headshot {
    margin-top: -75px;
  }

  #headshot img {
    width: 200px;
    height: 200px;
  }

  .privacy h2 {
    margin-top: 3rem;
  }

  .services-container {
    flex-direction: row;
    flex-basis: 1fr 1fr;
    justify-content: space-between;
    column-gap: 2rem;
  }
  .services-container div {
    width: 50%;
  }

  .services-container h3 {
    font-size: clamp(0.9rem, 3.5vw, 1.75rem);
  }

  .who ul.projects li {
    width: 45%;
  }

  div.experience {
    grid-template-columns: repeat(auto-fit, clamp(130px, 10vw, 155px));
  }

  div.experience h3 {
    font-size: var(--text-md-tb);
  }

  div.experience ul li {
    font-size: var(--text-sm-tb);
  }

  #contact-placeholder {
    scroll-margin-top: calc(var(--header-height) + 3rem);
  }

  /* FOOTER */

  footer {
    padding: 1rem var(--padding-lr-lg);
    margin-top: 3rem;
  }

  footer .company-details {
    font-size: var(--text-sm);
  }
}

/* MEDIUM LAPTOP & ABOVE */
@media (min-width: 1280px) {
  #headshot {
    margin-top: -75px;
  }
  .services-container h3 {
    font-size: clamp(0.9rem, 3.75vw, 2.15rem);
  }
  div.experience h3 {
    font-size: var(--text-sm);
  }
}
